



.listCategory:hover {
  background-color: #cfe2ff;
}

.product-image{
  width: 500px;
  height: 500px;
  object-fit: scale-down;
}


.product-description{
  height:150px; 
  min-height:200px;  
}

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: scale-down;
}

.checked {
  color: orange;
}


